<!--
<h1>这是一个能打代码的主页</h1>
<h2>我们将在这里学习html</h2>
<h3>这是不同大小的title, 我是h3</h3>
<hr>
-->

<!--
<div class="main" style="background: red">This is Red</div>

<div class="main2" style="color:red; background: green">This is Green</div>
-->

<!--
<hr>
<div class="myBorder myPadding myMargin myBc">Test layout</div>
<div class="myBorder myPadding myMargin myBc">Test layout</div>
<div class="myBorder myPadding myMarginAndSize">Test layout</div>

<hr>
<div class="myBorder myRelativePosition">Test Position
  <div class="myBorder myAbsolutePosition">Test Position2
  </div>
</div>
-->

<!--
<div class="myContainer myContainerBorder">
  <nav class="myNavBorder">
    <ul>
      <li>Coffee</li>
      <li>Tea</li>
      <li>Milk</li>
      <li>Water</li>
      <li>Sugar</li>
      <li>Yogurt</li>
    </ul>
  </nav>
  <section class="myContentBorder">
    This is the section.
  </section>
  <section class="myContentBorder">
    <body>
      This is the body.This is the body.This is the body.This is the body.This is the body.This is the body.This is the body.This is the body.This is the body.This is the body.
      This is the body.This is the body.This is the body.This is the body.This is the body.This is the body.This is the body.This is the body.This is the body.This is the body.
      This is the body.This is the body.This is the body.This is the body.This is the body.This is the body.This is the body.This is the body.This is the body.This is the body.
    </body>
  </section>
  <section class="myContentBorder">
    <footer>
      This is the footer.
    </footer>
  </section>
</div>
-->

<!--
<div class="myBorder2">
  Inline block test
</div>
<div class="myBorder2">
  Inline block test
</div>
<div class="myBorder2">
  Inline block test
</div>
-->

<!-- BootStrap examples below-->

<div class="container myBorder">
  <div class="row justify-content-start">
    <div class="col-4 myBorder">
      One of two columns
    </div>
    <div class="col-4 myBorder">
      One of two columns
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-4 myBorder">
      One of two columns
    </div>
    <div class="col-4 myBorder">
      One of two columns
    </div>
  </div>
  <div class="row justify-content-end">
    <div class="col-4 myBorder">
      One of two columns
    </div>
    <div class="col-4 myBorder">
      One of two columns
    </div>
  </div>
  <div class="row justify-content-around">
    <div class="col-4 myBorder">
      One of two columns
    </div>
    <div class="col-4 myBorder">
      One of two columns
    </div>
  </div>
  <div class="row justify-content-between">
    <div class="col-4 myBorder">
      One of two columns
    </div>
    <div class="col-4 myBorder">
      One of two columns
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-4 myBorder">.col-md-4</div>
  <div class="col-md-4 offset-md-4 myBorder">.col-md-4 .offset-md-4</div>
</div>

<div class="row">
  <div class="col-md-4 offset-md-4 myBorder">.col-md-4 .offset-md-4</div>
</div>
<hr>

<div class="row">
  <div class="col-md-8 offset-md-2 myBorder">
    <div style="display: flex; justify-content: space-around">
      <div class="box">Content</div>
      <div class="box">Content</div>
      <div class="box">Content</div>
    </div>
  </div>
</div>
<hr>
