.flexContainer {
  display: flex;
  justify-content: space-between;
  width: 1024px;
  height: 300px;
}

.flexContainerAuto {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  width: 50%;
  height: 40px;
}

.redBox {
  border: 5px red solid;
  width: 200px;
  height: 200px;
}

.redBorder {
  border: 5px red solid;
}

.homepage-banner-title {
  font-size: 2rem;
  margin-bottom: 30px;
  font-weight: 400;
}

.homepage-banner-subtitle {
  font-size: 1.2rem;
}

.homepage-banner {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 340px;
  background: linear-gradient(to bottom right,#355c7d,#6c5b7b,#c06c84);
  color: #fff;
  font-weight: 300;
  padding-bottom: 80px;
}

.homepage-text {
  width: 100%;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;
  margin-top: 70px;
}

.homepage-banner-canvas {
  position: absolute;
}
